/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --font-default: 'Inter', sans-serif, Arial;
    --font-secondary: 'Playfair Display', serif;
}

/* Colors */
:root {
    --white: #ffffff;
    --seashell: #F1F1F1;
    --light-gray: #F9F8F6;
    --light-gray-2: #CACACA;
    --grey: #4F4F4F;
    --light-blue: #9AD0D2;
    --blue: #2B64A9;
    --color-default: #101010;
    --color-primary: #1A1A1A;
    --color-secondary: #FDB706;
}

/* Smooth Scroll Behavior */
:root {
    scroll-behavior: smooth;
}

/* General */
body {
    font-family: var(--font-default);
    color: var(--color-default);
}
a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-secondary);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-default);
}

/* Buttons */
.btn-default,
.btn-default:focus {
  padding: 12px 24px;
  color: var(--white);
  font-size: 16px;
  border: 2px solid var(--white);
  font-weight: 700;
  border-radius: 0;
  transition: 0.3s;
}
.btn-default:hover,
.btn-default:focus:hover {
  color: var(--color-default);
  background: var(--color-secondary);
  border-color: var(--color-secondary);
}

/* Sections & Section Header */
section {
  padding: 60px 0;
  overflow: hidden;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

/* Navbar */
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar li a,
.navbar li a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar li a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--color-secondary);
}
.navbar li a.btn-default,
.navbar li a.btn-default:focus {
  font-weight: 700;
}
.navbar li a.btn-default:hover,
.navbar li a.btn-default:focus:hover {
  color: var(--color-default);
  background: var(--color-secondary);
  border-color: var(--color-secondary);
}

/* Section - Hero */
#hero {
  width: 100%;
  height: 90vh;
  background: var(--color-secondary);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#hero .container {
  padding-top: 72px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-family: var(--font-secondary);
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  color: var(--white);
}
#hero h1 span {
  display: inline-block;
  background-image: url("../assets/images/border-orange.svg");
  background-size: 100% 9px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  padding: 0 7px;
}
#hero h2 {
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--white);
  margin-bottom: 50px;
}


/* Secondary Navbar */
#secondary-navbar {
  padding: 20px 0;
}
#secondary-navbar .navbar {
  padding: 0;
  justify-content: center;
  align-content: center;
}
#secondary-navbar .navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
#secondary-navbar .navbar li {
  position: relative;
}
#secondary-navbar .navbar li a,
#secondary-navbar .navbar li a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 72px 10px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-default);
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}
#secondary-navbar .navbar li a:hover,
#secondary-navbar .navbar .active,
#secondary-navbar .navbar .active:focus,
#secondary-navbar .navbar li:hover>a {
  color: var(--color-secondary);
}

/* Section - Spaces */
#spaces {
  padding: 89px 0 0;
}
#spaces .spaces-title h2 {
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  color: var(--color-primary);
  margin-bottom: 67px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}
#spaces .spaces-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 202px;
  height: 8px;
  background-image: url("../assets/images/border-orange-2.svg");
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#spaces .spaces-header {
  background-color: var(--light-gray);
  padding: 70px 218px;
}
#spaces .spaces-header h3 {
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  color: var(--color-primary);
}
#spaces .spaces-header .btn-default,
#spaces .spaces-header .btn-default:focus {
  padding: 18px;
  color: var(--color-default);
  border: 2px solid var(--color-default);
}
#spaces .spaces-header .btn-default:hover,
#spaces .spaces-header .btn-default:focus:hover {
  padding: 18px;
  color: var(--color-default);
  border: 2px solid var(--color-secondary);
}
#spaces .spaces-content {
  background-color: var(--light-gray);
  padding: 29px 218px 70px;
}
#spaces .spaces-content .zoom a {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 20px;
  color: var(--color-secondary);
  transition: 0.3s;
}
#spaces .spaces-content .zoom a:hover {
  color: var(--color-default);
}
#spaces .spaces-content .card {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 0;
  height: 378px;
}
#spaces .spaces-content .card img {
  width: 316px;
  height: 232px;
  margin: 0 auto;
}
#spaces .spaces-content .card .card-body {
  padding: 0 24px 24px 24px;
}
#spaces .spaces-content .card .card-body h5 {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-primary);
}
#spaces .spaces-content .card .card-body p {
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-default);
  padding-top: 20px;
}

/* Section - What You'll Get */
#what-youll-get {
  padding: 64px 0;
}
#what-youll-get .section-title h2 {
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  color: var(--color-primary);
  margin-bottom: 48px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}
#what-youll-get .section-content {
  background-color: var(--white);
  padding: 29px 268px 70px;
}
#what-youll-get .section-content .card {
  display: flex;
  flex-flow: wrap;
  flex: 100%;
  margin-bottom: 43px;
  border: none;
}
#what-youll-get .section-content .card .card-img-body {
  width: 100px;
}
#what-youll-get .section-content .card .card-img {
  width: auto;
  height: auto;
  border-radius: 0;
}
#what-youll-get .section-content .card:nth-child(even) .card-img-body {
  order: 2;
}
#what-youll-get .section-content .card .card-body {
  flex: 2;
  padding: 0;
}
#what-youll-get .section-content .card:nth-child(even) .card-body {
  padding-left: 0;
  padding-right: 1.25rem;
}
#what-youll-get .section-content .boxes .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--light-gray);
  border: 0;
  border-radius: 0;
  height: 475px;
}
#what-youll-get .section-content .boxes .card .card-header {
  padding: 20px 23px 10px;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0;
}
#what-youll-get .section-content .boxes .card .card-header h4,
#what-youll-get .section-content .boxes .card .card-header h4.elastic {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-primary);
  margin-bottom: 28px;
  padding-bottom: 10px;
  position: relative;
}
#what-youll-get .section-content .boxes .card .card-header h4:after {
  content: "";
  position: absolute;
  display: block;
  width: 140px;
  height: 9.5px;
  background-image: url("../assets/images/border-orange-3.svg");
  left: 0;
  right: 0;
  bottom: 0;
}
#what-youll-get .section-content .boxes .card .card-header h4.elastic:after {
  content: "";
  position: absolute;
  display: block;
  width: 198px;
  height: 9.5px;
  background-image: url("../assets/images/border-orange-4.svg");
  left: 0;
  right: 0;
  bottom: 0;
}
#what-youll-get .section-content .boxes .card .card-header p {
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-default);
}
#what-youll-get .section-content .boxes .card .card-body {
  padding: 0 18px 44px;
}
#what-youll-get .section-content .boxes .card .card-body ul {
  padding: 0 0 0 4px;
  margin: 0;
  list-style-type: none;
}
#what-youll-get .section-content .boxes .card .card-body li.check {
  background: url(../assets/images/check.svg) no-repeat left top;
  height: 42px;
  padding-top: 0px;
  padding-left: 30px;
}
#what-youll-get .section-content .boxes .card .card-body ul li {
  padding: 10px 0;
}
#what-youll-get .section-content .boxes .card  .card-footer {
  padding: 0 20px 36px;
  background-color: transparent;
  border-top: 0;
}
#what-youll-get .section-content .boxes .card  .card-footer .btn-default,
#what-youll-get .section-content .boxes .card  .card-footer .btn-default:focus {
  color: var(--color-default);
  border: 2px solid var(--color-default);
}
#what-youll-get .section-content .boxes .card  .card-footer .btn-default:hover,
#what-youll-get .section-content .boxes .card  .card-footer .btn-default:focus:hover {
  color: var(--color-default);
  border: 2px solid var(--color-secondary);
}
#what-youll-get .section-content #cta .col-md-10 {
  background-color: var(--blue);
  padding: 24px 48px;
}
#what-youll-get .section-content #cta h2 {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--white);
}
#what-youll-get .section-content #cta .btn-default,
#what-youll-get .section-content #cta .btn-default:focus {
  color: var(--color-default);
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  float: right!important;
}
#what-youll-get .section-content #cta .btn-default:hover,
#what-youll-get .section-content #cta .btn-default:focus:hover {
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
}

/* Section - Our Team */
#our-team {
  padding: 64px 0;
}
#our-team .section-title h2 {
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  color: var(--color-primary);
  margin-bottom: 98px;
  padding-bottom: 0px;
  position: relative;
  text-align: center;
}
#our-team .section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 203px;
  height: 9.5px;
  background-image: url("../assets/images/border-orange-5.svg");
  left: 49.5%;
  right: 0;
  bottom: 0;
}
#our-team .section-content {
  background-color: var(--white);
  padding: 29px 268px 70px;
}
#our-team #category_filter ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
#our-team #category_filter ul li {
  position: relative;
}
#our-team #category_filter ul li > a, #our-team #category_filter ul li > a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 54px;
  font-size: 16px;
  font-weight: 700;
  color: var(--light-gray-2);
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
#our-team #category_filter ul li a:hover, #our-team #category_filter ul li a:focus:hover {
  color: var(--color-primary);
}
#our-team #category_filter ul li:not(:last-of-type) {
  margin-right: 74px;
}
#our-team #category_filter ul li > a::before {
  position: absolute;
  content: "";
  width: calc(100% - 1px);
  height: 4px;
  background: #fff;
  bottom: -5px;
  left: 0;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  z-index: -1;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
#our-team #category_filter ul li > a.active {
  color: var(--color-primary);
}
#our-team #category_filter ul li > a:hover::before,
#our-team #category_filter ul li > a.active::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
#our-team #category_filter ul li > a::before {
  background: var(--color-secondary);
}
#our-team .section-content .card {
  background: var(--light-gray);
  border: 0;
  border-radius: 0;
  max-height: 300px;
  margin-bottom: 38px;
}
#our-team .section-content .card img {
  width: auto;
  height: auto;
  margin: 29px auto 15px;
  background: var(--light-blue);
  object-fit: cover;
  border-radius: 50%;
}
#our-team .section-content .card .card-body {
  padding: 4px 22px 53px 22px;
  text-align: center;
}
#our-team .section-content .card .card-body h5 {
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--grey);
}
#our-team .section-content .card .card-body p {
  font-family: var(--font-default);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--grey);
}

/* Section - Get to Know the Neighborhood */
#neighborhood {
  background-color: var(--light-gray);
  padding: 64px 0;
}
#neighborhood .container-fluid{
  padding: 29px 268px 0;
}
#neighborhood .section-title h2 {
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  color: var(--color-primary);
  margin-bottom: 20px;
  padding-bottom: 0px;
  position: relative;
}
#neighborhood .section-title p {
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-default);
  padding-bottom: 44px;
}
#neighborhood .section-title .btn-default,
#neighborhood .section-title .btn-default:focus {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}
#neighborhood .section-title .btn-default:hover,
#neighborhood .section-title .btn-default:focus:hover {
  color: var(--blue);
  background-color: var(--white);
  border: 2px solid var(--blue);
}

/* Section - Our Members Say */
#our-members-say {
  padding: 64px 0;
}
#our-members-say .section-title h2 {
  font-family: var(--font-secondary);
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
  color: var(--color-primary);
  margin-bottom: 67px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}
#our-members-say .section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 255px;
  height: 9.3px;
  background-image: url("../assets/images/border-orange-6.svg");
  left: 45.3%;
  right: 0;
  bottom: 0;
}
#our-members-say .section-content {
  background-color: var(--white);
  padding: 0px 268px;
}
#our-members-say .section-content .card {
  border: 0;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#our-members-say .section-content .card img {
  width: 207px;
  height: 207px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
#our-members-say .section-content .card .card-body {
  padding: 0 24px;
  text-align: left;
}
#our-members-say .section-content .card .card-body blockquote {
  font-family: var(--font-default);
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: var(--color-primary);
}
#our-members-say .section-content .card .card-body blockquote p {
  font-family: var(--font-default);
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  color: var(--color-primary);
}
#our-members-say .section-content .card .card-body blockquote:before,
#our-members-say .section-content .card .card-body blockquote:after{
  position: absolute;
}
#our-members-say .section-content .card .card-body blockquote:before{
  content: " ";
  background-image: url(../assets/images/top-quote.svg);
  top: 30px;
  margin-right: -230px;
  right: 100%;
  width: 23px;
  height: 16px;
}
#our-members-say .section-content .card .card-body blockquote:after{
  content: " ";
  background-image: url(../assets/images/bottom-quote.svg);
  margin-left: -250px;
  left: 100%;
  top: auto;
  bottom: 120px;
  width: 23px;
  height: 16px;
}
#our-members-say .section-content .card .card-body p.author {
  margin-top: 24px;
}
#our-members-say .section-content .card .card-body p.company {
  text-decoration: underline;
}
#our-members-say .section-content .swiper-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  text-align: left;
}
#our-members-say .section-content .swiper-wrap .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#our-members-say .section-content .swiper-wrap .swiper-button-prev, #our-members-say .section-content .swiper-wrap .swiper-button-next {
  width: 45px;
  height: 45px;
  background-size: 45px 45px;
}
#our-members-say .section-content .swiper-wrap .swiper-button-prev {
  background-image: url("../assets/images/arrow-left.svg");
}
#our-members-say .section-content .swiper-wrap .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -100px;
}
#our-members-say .section-content .swiper-wrap .swiper-button-next {
  background-image: url("../assets/images/arrow-right.svg");
}
#our-members-say .section-content .swiper-wrap .swiper-button-next, #our-members-say .section-content .swiper-wrap .swiper-container-rtl .swiper-button-prev {
  right: -90px;
}