@media (min-width: 1367px) and (max-width: 1440px) {
    #spaces .spaces-header {
        padding: 29px 219px 70px;
    }
    #spaces .spaces-content {
        padding: 29px 219px 70px;
    }
    #what-youll-get .section-content {
        padding: 29px 219px 70px;
    }
    #what-youll-get .section-content .boxes .card {
        min-height: 550px;
    }
    #our-team .section-content {
        padding: 29px 219px 70px;
    }
    #neighborhood .container-fluid {
        padding: 29px 219px 0;
    }
    #our-members-say .section-content {
        padding: 0px 219px;
    }
    #sfysu .container-fluid {
        padding: 29px 219px 0;
    }
    footer .footer-bottom .container-fluid {
        padding: 0 219px 0;
    }
}

@media (min-width: 1281px) and (max-width: 1366px) {
    #spaces .spaces-header {
        padding: 29px 160px 70px;
    }
    #spaces .spaces-content {
        padding: 29px 160px 70px;
    }
    #what-youll-get .section-content {
        padding: 29px 160px 70px;
    }
    #our-team .section-content {
        padding: 29px 160px 70px;
    }
    #neighborhood .container-fluid {
        padding: 29px 160px 0;
    }
    #our-members-say .section-content {
        padding: 0px 160px;
    }
    #sfysu .container-fluid {
        padding: 29px 160px 0;
    }
    footer .footer-bottom .container-fluid {
        padding: 0 160px 0;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #spaces .spaces-header {
        padding: 29px 100px 70px;
    }
    #spaces .spaces-content {
        padding: 29px 100px 70px;
    }
    #what-youll-get .section-content {
        padding: 29px 100px 70px;
    }
    #our-team .section-content {
        padding: 29px 100px 70px;
    }
    #neighborhood .container-fluid {
        padding: 29px 100px 0;
    }
    #our-members-say .section-content {
        padding: 0px 100px;
    }
    #sfysu .container-fluid {
        padding: 29px 100px 0;
    }
    footer .footer-bottom .container-fluid {
        padding: 0 100px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar li a, .navbar li a:focus {
        padding: 10px 15px 10px;
    }
    #secondary-navbar .navbar li a, #secondary-navbar .navbar li a:focus {
        padding: 10px 40px 10px;
    }
    #spaces .spaces-header {
        padding: 29px 10px 70px;
    }
    #spaces .spaces-content {
        padding: 29px 10px 70px;
    }
    #what-youll-get .section-content {
        padding: 29px 10px 70px;
    }
    #what-youll-get .section-content .boxes .card {
        min-height: 550px;
    }
    #our-team .section-content {
        padding: 29px 10px 70px;
    }
    #neighborhood .container-fluid {
        padding: 29px 10px 0;
    }
    #our-members-say .section-content {
        padding: 0px 10px;
    }
    #sfysu .container-fluid {
        padding: 29px 10px 0;
    }
    footer .footer-bottom .container-fluid {
        padding: 0 10px 0;
    }
}

@media (width: 768px) and (height: 1024px) {
    .navbar a.navbar-brand img {
        width: 100px;
    }
    .navbar li a, .navbar li a:focus {
        padding: 10px 10px 10px;
        font-size: 13px;
    }
    #hero .d-flex {
        flex-direction: column;
    }
    #hero .btn-default,
    #hero .btn-default {
        width: 160px;
        font-size: 14px;
    }
    #hero .btn-default.book-a-tour,
    #hero .btn-default.book-a-tour:focus {
        margin-top: 25px;
        margin-left: 0;
    }
    #secondary-navbar {
        padding: 20px 0;
    }
    #secondary-navbar .navbar li a, #secondary-navbar .navbar li a:focus {
        padding: 10px 26px 10px;
        font-size: 18px;
    }
}

@media (width: 820px) and (height: 1180px) {
    .navbar a.navbar-brand img {
        width: 100px;
    }
    .navbar li a, .navbar li a:focus {
        padding: 10px 10px 10px;
        font-size: 13px;
    }
    #hero .d-flex {
        flex-direction: column;
    }
    #hero .btn-default,
    #hero .btn-default {
        width: 160px;
        font-size: 14px;
    }
    #hero .btn-default.book-a-tour,
    #hero .btn-default.book-a-tour:focus {
        margin-top: 25px;
        margin-left: 0;
    }
    #secondary-navbar {
        padding: 20px 0;
    }
    #secondary-navbar .navbar li a, #secondary-navbar .navbar li a:focus {
        padding: 10px 26px 10px;
        font-size: 18px;
    }
}

@media (min-width: 376px) and (max-width: 480px) {
    .navbar-collapse {
        background-color: #000;
        padding: 20px;
    }
    .navbar ul {
        align-items: flex-start;
    }
    .navbar li a, .navbar li a:focus {
        padding: 10px 0px 10px;
    }
    .navbar li a.btn-default,
    .navbar li a.btn-default:focus {
        font-weight: 700;
        padding: 12px 24px;
    }
    .btn-default,
    .btn-default:focus {
        font-size: 14px;
    }
    #hero .container {
        padding-top: 72px;
        padding-left: 42px;
        padding-right: 42px;
    }
    #hero h1 {
        font-size: 44px;
    }
    #hero h2 {
        font-size: 14px;
    }
    #hero .details {
        width: auto;
        padding: 20px 24px;
    }
    #hero .details p {
        font-size: 14px;
    }
    #hero .d-flex {
        flex-direction: column;
    }
    #hero .btn-default,
    #hero .btn-default {
        width: 160px;
        font-size: 14px;
    }
    #hero .btn-default.book-a-tour,
    #hero .btn-default.book-a-tour:focus {
        margin-top: 25px;
        margin-left: 0;
    }
    #secondary-navbar {
        padding: 20px 0;
        overflow-x: scroll;
    }
    #secondary-navbar .navbar {
        justify-content: normal;
    }
    #secondary-navbar .navbar li a, #secondary-navbar .navbar li a:focus {
        padding: 10px 26px 10px;
        font-size: 18px;
    }
    #spaces .container-fluid {
        padding: 0;
    }
    #spaces .spaces-title h2 {
        font-size: 38px;
      }
    #spaces .spaces-title h2:after {
        left: -96px;
        right: 0;
        top: 55px;
        display: none;
    }
    #spaces .spaces-header {
        padding: 48px 43px 32px;
    }
    #spaces .spaces-header h3 {
        font-size: 32px;
        line-height: 40px;
    }
    #spaces .spaces-content {
        padding: 0px 43px 32px;
    }
    #spaces .spaces-content #slider {
        margin-bottom: 32px;
    }
    #spaces .spaces-content .swiper-wrap {
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        text-align: left;
    }
    #spaces .spaces-content .swiper-wrap .swiper-container {
        overflow: visible !important;
    }
    #spaces .spaces-content .swiper-wrap .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    #spaces .spaces-content .swiper-wrap .swiper-button-prev, #spaces .spaces-content .swiper-wrap .swiper-button-next {
        display: none;
    }
    #spaces .spaces-content .btn-default,
    #spaces .spaces-content .btn-default:focus {
        color: var(--color-default);
        border: 2px solid var(--color-default);
    }
    #spaces .spaces-content .btn-default:hover,
    #spaces .spaces-content .btn-default:focus:hover {
        color: var(--color-default);
        border: 2px solid var(--color-secondary);
    }
    #what-youll-get .section-title h2 {
        margin-bottom: 30px;
    }
    #what-youll-get .section-content {
        background-color: var(--white);
        padding: 29px 43px 70px;
    }
    #what-youll-get .section-content .card {
        align-items: center;
        flex-direction: column;
        margin-bottom: 32px;
    }
    #what-youll-get .section-content .card .card-img-body {
        width: auto;
    }
    #what-youll-get .section-content .card .card-body {
        flex: 2;
        padding: 22px 0 0;
        text-align: center;
    }
    #what-youll-get .section-content .card .card-body h5{
        font-size: 14px;
        font-weight: 700;
    }
    #what-youll-get .section-content .card .card-body p {
        font-size: 14px;
    }
    #what-youll-get .section-content .boxes .card .card-header {
        padding: 20px 24px 10px;
    }
    #what-youll-get .section-content .boxes .card .card-header h4,
    #what-youll-get .section-content .boxes .card .card-header h4.elastic {
        font-size: 20px;
    }
    #what-youll-get .section-content .boxes .card .card-header p {
        font-size: 14px;
    }
    #what-youll-get .section-content .boxes .card .card-body {
        padding: 0 24px 44px;
    }
    #what-youll-get .section-content .boxes .card .card-body ul.elastic {
        padding: 0px 65px 0px 0px;
    }
    #what-youll-get .section-content .boxes .card .card-body li.check {
        font-size: 14px;
        text-align: left;
    }
    #what-youll-get .section-content #cta {
        text-align: center;
    }
    #what-youll-get .section-content #cta h2 {
        font-size: 20px;
    }
    #what-youll-get .section-content #cta .btn-default,
    #what-youll-get .section-content #cta .btn-default:focus {
        font-size: 14px;
        padding: 12px 19px;
    }
    #our-team .section-content {
        padding: 29px 43px 0px;
    }
    #our-team .section-title h2 {
        margin-bottom: 50px;
    }
    #our-team .section-title h2:after {
        display: none;
    }
    #our-team #category_filter ul {
        overflow-x: scroll;
    }
    #neighborhood {
        padding: 0 0 82px;
        text-align: center;
    }
    #neighborhood .container-fluid {
        padding: 0px 43px 0;
    }
    #neighborhood .section-title h2 {
        font-size: 32px;
        line-height: 42px;
        margin-top: 45px;
    }
    #neighborhood .section-title p {
        padding-bottom: 34px;
    }
    #our-members-say .section-title h2 {
        font-size: 32px;
        margin-bottom: 35px;
    }
    #our-members-say .section-title h2:after {
        width: 199px;
        left: 30%;
    }
    #our-members-say .section-content {
        padding: 0 43px 66px;
    }
    #our-members-say .section-content .card {
        flex-direction: column;
    }
    #our-members-say .section-content .card .card-body {
        padding: 0;
        text-align: center;
    }
    #our-members-say .section-content .card .card-body blockquote {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin-top: 29px;
    }
    #our-members-say .section-content .card .card-body blockquote i.top {
        top: -10px;
        left: 0px;
    }
    #our-members-say .section-content .swiper-wrap .swiper-button-next, #our-members-say .section-content .swiper-wrap .swiper-container-rtl .swiper-button-prev {
        top: 545px;
        right: 80px;
    }
    #our-members-say .section-content .swiper-wrap .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        top: 545px;
        left: 80px;
    }
    #sfysu .container-fluid{
        padding: 0 43px 0;
    }
    #sfysu .section-title h2 {
        font-size: 32px;
        line-height: 40px;
    }
    #sfysu .section-title #see-for-youself h2:after {
        display: none;
    }
    #sfysu .section-title p {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 27px;
    }
    #sfysu hr {
        margin: 72px 0 52px !important;
        margin: 0;
        opacity: 1;
    }
    #sfysu .section-title #newsletter input.form-control {
        width: 100%;
        margin: 0 auto 24px;
    }
    footer .footer-upper .social-icons{
        flex-direction: column;
    }
    footer .footer-bottom .container-fluid {
        padding: 0 43px 0;
    }
    footer .footer-bottom h4 {
        font-size: 24px;
        line-height: 24px;
        margin-top: 31px;
        padding-bottom: 14px;
    }
    footer .footer-bottom .footer-links ul li {
        padding: 0 0 14px;
    }
    footer .footer-bottom .footer-links ul li:last-child {
        padding-bottom: 25px;
    }
    footer .footer-bottom .footer-links ul li a {
        line-height: 24px;
    }
    footer .footer-bottom .footer-links hr {
        margin: 0;
        opacity: 1;
        color: #000;
        background-color: #000;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .navbar-collapse {
        background-color: #000;
        padding: 20px;
    }
    .navbar ul {
        align-items: flex-start;
    }
    .navbar li a, .navbar li a:focus {
        padding: 10px 0px 10px;
    }
    .navbar li a.btn-default,
    .navbar li a.btn-default:focus {
        font-weight: 700;
        padding: 12px 24px;
    }
    .btn-default,
    .btn-default:focus {
        font-size: 14px;
    }
    #hero {
        height: 90vh;
    }
    #hero .container {
        padding-top: 50px;
        padding-left: 42px;
        padding-right: 42px;
    }
    #hero h1 {
        font-size: 30px;
    }
    #hero h2 {
        font-size: 14px;
        line-height: 18px;
    }
    #hero .details {
        width: auto;
        padding: 20px 24px;
        margin-bottom: 10px;
    }
    #hero .details p {
        font-size: 14px;
        margin-bottom: .3rem;
    }
    #hero .d-flex {
        flex-direction: column;
    }
    #hero .btn-default,
    #hero .btn-default {
        width: 160px;
        font-size: 14px;
    }
    #hero .btn-default.book-a-tour,
    #hero .btn-default.book-a-tour:focus {
        margin-top: 10px;
        margin-left: 0;
    }
    #secondary-navbar {
        padding: 20px 0;
        overflow-x: scroll;
    }
    #secondary-navbar .navbar {
        justify-content: normal;
    }
    #secondary-navbar .navbar li a, #secondary-navbar .navbar li a:focus {
        padding: 10px 26px 10px;
        font-size: 18px;
    }
    #spaces .spaces-title h2 {
        font-size: 38px;
      }
    #spaces .spaces-title h2:after {
        left: -96px;
        right: 0;
        top: 55px;
    }
    #spaces .spaces-header {
        padding: 48px 43px 32px;
    }
    #spaces .spaces-header h3 {
        font-size: 32px;
        line-height: 40px;
    }
    #spaces .spaces-content {
        padding: 0px 43px 32px;
    }
    #spaces .spaces-content #slider {
        margin-bottom: 32px;
    }
    #spaces .spaces-content .swiper-wrap {
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        text-align: left;
    }
    #spaces .spaces-content .swiper-wrap .swiper-container {
        overflow: visible !important;
    }
    #spaces .spaces-content .swiper-wrap .swiper-button-prev, #spaces .spaces-content .swiper-wrap .swiper-button-next {
        display: none;
    }
    #spaces .spaces-content .btn-default,
    #spaces .spaces-content .btn-default:focus {
        color: var(--color-default);
        border: 2px solid var(--color-default);
    }
    #spaces .spaces-content .btn-default:hover,
    #spaces .spaces-content .btn-default:focus:hover {
        color: var(--color-default);
        border: 2px solid var(--color-secondary);
    }
    #spaces .spaces-content .card {
        min-height: 460px;
    }
    #what-youll-get .section-title h2 {
        margin-bottom: 30px;
    }
    #what-youll-get .section-content {
        background-color: var(--white);
        padding: 29px 43px 70px;
    }
    #what-youll-get .section-content .card {
        align-items: center;
        flex-direction: column;
        margin-bottom: 32px;
    }
    #what-youll-get .section-content .card .card-img-body {
        width: auto;
    }
    #what-youll-get .section-content .card .card-body {
        flex: 2;
        padding: 22px 0 0;
        text-align: center;
    }
    #what-youll-get .section-content .card .card-body h5{
        font-size: 14px;
        font-weight: 700;
    }
    #what-youll-get .section-content .card .card-body p {
        font-size: 14px;
    }
    #what-youll-get .section-content .boxes .card .card-header {
        padding: 20px 24px 10px;
    }
    #what-youll-get .section-content .boxes .card .card-header h4,
    #what-youll-get .section-content .boxes .card .card-header h4.elastic {
        font-size: 20px;
    }
    #what-youll-get .section-content .boxes .card .card-header p {
        font-size: 14px;
    }
    #what-youll-get .section-content .boxes .card .card-body {
        padding: 0 24px 44px;
    }
    #what-youll-get .section-content .boxes .card .card-body ul.elastic {
        padding: 0px 49px 0px 0px;
    }
    #what-youll-get .section-content .boxes .card .card-body li.check {
        font-size: 14px;
        text-align: left;
    }
    #what-youll-get .section-content #cta {
        text-align: center;
    }
    #what-youll-get .section-content #cta h2 {
        font-size: 20px;
    }
    #what-youll-get .section-content #cta .btn-default,
    #what-youll-get .section-content #cta .btn-default:focus {
        font-size: 14px;
        padding: 12px 19px;
    }
    #our-team .section-content {
        padding: 29px 43px 0px;
    }
    #our-team .section-title h2 {
        margin-bottom: 50px;
    }
    #our-team .section-title h2:after {
        display: none;
    }
    #our-team #category_filter ul {
        overflow-x: scroll;
    }
    #neighborhood {
        padding: 0 0 82px;
        text-align: center;
    }
    #neighborhood .container-fluid {
        padding: 0px 43px 0;
    }
    #neighborhood .section-title h2 {
        font-size: 32px;
        line-height: 42px;
        margin-top: 45px;
    }
    #neighborhood .section-title p {
        padding-bottom: 34px;
    }
    #our-members-say .section-title h2 {
        font-size: 32px;
        margin-bottom: 35px;
    }
    #our-members-say .section-title h2:after {
        width: 199px;
        left: 30%;
    }
    #our-members-say .section-content {
        padding: 0 43px 66px;
    }
    #our-members-say .section-content .card {
        flex-direction: column;
    }
    #our-members-say .section-content .card .card-body {
        padding: 0;
        text-align: center;
    }
    #our-members-say .section-content .card .card-body blockquote {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin-top: 29px;
    }
    #our-members-say .section-content .card .card-body blockquote i.top {
        top: -10px;
        left: 0px;
    }
    #our-members-say .section-content .swiper-wrap .swiper-button-next, #our-members-say .section-content .swiper-wrap .swiper-container-rtl .swiper-button-prev {
        top: 545px;
        right: 80px;
    }
    #our-members-say .section-content .swiper-wrap .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        top: 545px;
        left: 80px;
    }
    #sfysu .container-fluid{
        padding: 0 43px 0;
    }
    #sfysu .section-title h2 {
        font-size: 32px;
        line-height: 40px;
    }
    #sfysu .section-title p {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 27px;
    }
    #sfysu hr {
        margin: 72px 0 52px !important;
        margin: 0;
        opacity: 1;
    }
    #sfysu .section-title #newsletter input.form-control {
        width: 100%;
        margin: 0 auto 24px;
    }
    footer .footer-upper .social-icons{
        flex-direction: column;
    }
    footer .footer-bottom .container-fluid {
        padding: 0 43px 0;
    }
    footer .footer-bottom h4 {
        font-size: 24px;
        line-height: 24px;
        margin-top: 31px;
        padding-bottom: 14px;
    }
    footer .footer-bottom .footer-links ul li {
        padding: 0 0 14px;
    }
    footer .footer-bottom .footer-links ul li:last-child {
        padding-bottom: 25px;
    }
    footer .footer-bottom .footer-links ul li a {
        line-height: 24px;
    }
    footer .footer-bottom .footer-links hr {
        margin: 0;
        opacity: 1;
        color: #000;
        background-color: #000;
    }
}